#clock {
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: middle;
}

#hour {
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
}

#minute {
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
}

#second {
	position: absolute;
	margin: 0 auto;	
	top: 0;
	left: 0;
